<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/index.css">
</head>

<body>
    <h1>{{pageTitle}} </h1>
    <h2>{{someText}}</h2>
    <p>bla bla bla </p>
    <p>{{someFunc}}</p>


    <form action="">
        <input type="text" id="i-1">
        <button id="btn">Click</button>
    </form>

    <p id="p-1"></p>



    <script src="./../js/foo.js"></script>
</body>

</html>